<!-- header -->
<header>
  <div class="container">
    <div class="col-md-3"><a routerLink="/work" class="brand smooth"><img alt="Your Alternative text" src="assets/img/logo.svg"></a></div>
    <div class="col-md-6 text-center">
      <div class="nav-trigger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <ul class="navigation">
        <li><a class="active" routerLink="/work" routerLinkActive="active">Work</a>
          <ul class="dropdown">
            <li><a routerLink="/project-detail" class="smooth">Classic</a></li>
            <li><a routerLink="/project-detail" class="smooth">Masonry</a></li>
            <li><a routerLink="/project-detail" class="smooth">Lightbox</a></li>
            </ul>
        </li>
        <li> <a routerLink="/about" class="smooth">About</a></li>
        <li> <a routerLink="/blog">Blog</a>
          <ul class="dropdown">
            <li><a routerLink="/blog-detail" class="smooth">Blog - Classic</a></li>
            <li><a routerLink="/blog-detail" class="smooth">Single</a></li>
          </ul>
        </li>
        <li><a routerLink="/contact" class="smooth">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <form>
        <div class="search input-group">
          <input type="text" placeholder="Search for..." class="form-control"><span class="input-group-btn"><button type="button" class="btn btn-default"><span class="ion-ios-search-strong"></span></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</header>
<!-- header end-->
