 <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center">
            <p>The 8 Creatives
              <br>Design Studio</p>
          </div>
          <div class="col-md-3 text-center">
            <p>8 Infinite Loop
              <br>Cupertino, CA 95014</p>
          </div>
          <div class="col-md-3 text-center">
            <p>hello@example.com
              <br>01 (2) 34 56 78</p>
          </div>
          <div class="col-md-3 text-center">
            <ul class="social-links">
              <li> <a href="#" class="fa fa-vimeo"></a></li>
              <li> <a href="#" class="fa fa-instagram"></a></li>
              <li> <a href="#" class="fa fa-twitter"></a></li>
              <li> <a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <footer class="bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">© The 8 Creative. All rights reserved. <a href="https://themeforest.net/item/eight-responsive-portfolio-html5-template/16816093" class="smooth">Buy Eight</a></div>
        </div>
      </div>
    </footer>
    <div class="filter-container">
      <div class="container">
        <div class="inner">
          <ul class="filters">
            <li> <a href="#" data-filter="item" class="active filter">All</a></li>
            <li><a href="#" data-filter="design" class="filter">Design</a></li>
            <li><a href="#" data-filter="typography" class="filter">Typography</a></li>
            <li><a href="#" data-filter="fashion" class="filter">Fashion</a></li>
            <li><a href="#" data-filter="books" class="filter">Books</a></li>
          </ul>
        </div>
      </div>
    </div>


    