<section class="hero text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>Work</h1>
                        <p>Believing in smart ideas and branding experiences.
                            <br>Good design is as less design as possible.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><a href="http://eight.themanoid.com/pages/work-masonry.html#" class="btn btn-default filter-trigger">Filter</a></div>
                    <div class="col-md-12 grid masonry" style="position: relative; height: 1277px;">
                        <a href="http://eight.themanoid.com/pages/work-single.html" class="item books smooth in-view" style="position: absolute; left: 0px; top: 0px;">
                            <div class="thumb"><img alt="Your Alternative text" src="assets/img/07.png"></div>
                            <div class="caption">
                                <h4>A secret history</h4>
                                <div class="tag">Print &amp; Typography</div>
                            </div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/work-single.html" class="item typography smooth in-view" style="position: absolute; left: 600px; top: 0px;">
                            <div class="thumb"><img alt="Your Alternative text" src="assets/img/08.png"></div>
                            <div class="caption">
                                <h4>Old Typography Practices</h4>
                                <div class="tag">UI Design &amp; Typography</div>
                            </div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/work-single.html" class="item design smooth in-view" style="position: absolute; left: 600px; top: 280px;">
                            <div class="thumb"><img alt="Your Alternative text" src="assets/img/10.png"></div>
                            <div class="caption">
                                <h4>The yellow book</h4>
                                <div class="tag">Print &amp; Design</div>
                            </div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/work-single.html" class="item books design smooth" style="position: absolute; left: 0px; top: 437px;">
                            <div class="thumb"><img alt="Your Alternative text" src="assets/img/09.png"></div>
                            <div class="caption">
                                <h4>Landingpage</h4>
                                <div class="tag">UI Design &amp; Frontend Development</div>
                            </div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/work-single.html" class="item fashion design smooth" style="position: absolute; left: 0px; top: 717px;">
                            <div class="thumb"><img alt="Your Alternative text" src="assets/img/11.png"></div>
                            <div class="caption">
                                <h4>Hybrid Identity</h4>
                                <div class="tag">Visual Identity &amp; Fashion</div>
                            </div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/work-single.html" class="item typography smooth" style="position: absolute; left: 600px; top: 717px;">
                            <div class="thumb"><img alt="Your Alternative text" src="assets/img/12.png"></div>
                            <div class="caption">
                                <h4>The pursuit of happiness</h4>
                                <div class="tag">Visual Identity &amp; Print</div>
                            </div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/work-single.html" class="item books smooth" style="position: absolute; left: 600px; top: 997px;">
                            <div class="thumb"><img alt="Your Alternative text" src="assets/img/13.png"></div>
                            <div class="caption">
                                <h4>Smashing Layouts</h4>
                                <div class="tag">Print &amp; Design</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>