<section class="hero text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>{{project_obj.title}}</h1>
                        <p innerHTML="{{project_obj.teaser}}"></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="row mb-xl">
                    <div class="col-md-12"><img src="{{ project_obj.project_image }}" class="fadein in-view"></div>
                </div>
                <div class="row" innerHTML="{{ project_obj.body }}"></div>
            </div>
        </section>