<section class="hero text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>Blog</h1></div>
                </div>
            </div>
        </section>
        <section class="grid-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><a href="http://eight.themanoid.com/pages/blog.html#" class="btn btn-default filter-trigger">Filter</a></div>
                    <div class="col-md-12 grid classic col-4" style="position: relative; height: 991.6px;">
                        <a href="http://eight.themanoid.com/pages/blog-single.html" class="item design smooth in-view" style="position: absolute; left: 0px; top: 0px;">
                            <div class="thumb"><img alt="Your Alternative text" src="./blog_files/01.jpg">
                                <div class="btn btn-default">Read article</div>
                            </div>
                            <div class="caption">
                                <div class="tag">18th of June 2016</div>
                                <h4>This is an example blog post</h4></div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/blog-single.html" class="item typography smooth in-view" style="position: absolute; left: 300px; top: 0px;">
                            <div class="thumb"><img alt="Your Alternative text" src="./blog_files/02.jpg">
                                <div class="btn btn-default">Read article</div>
                            </div>
                            <div class="caption">
                                <div class="tag">18th of June 2016</div>
                                <h4>This is an example blog post</h4></div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/blog-single.html" class="item books smooth in-view" style="position: absolute; left: 600px; top: 0px;">
                            <div class="thumb"><img alt="Your Alternative text" src="./blog_files/03.jpg">
                                <div class="btn btn-default">Read article</div>
                            </div>
                            <div class="caption">
                                <div class="tag">18th of June 2016</div>
                                <h4>This is an example blog post</h4></div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/blog-single.html" class="item typography smooth in-view" style="position: absolute; left: 900px; top: 0px;">
                            <div class="thumb"><img alt="Your Alternative text" src="./blog_files/04.jpg">
                                <div class="btn btn-default">Read article</div>
                            </div>
                            <div class="caption">
                                <div class="tag">18th of June 2016</div>
                                <h4>This is an example blog post</h4></div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/blog-single.html" class="item fashion smooth" style="position: absolute; left: 0px; top: 495px;">
                            <div class="thumb"><img alt="Your Alternative text" src="./blog_files/05.jpg">
                                <div class="btn btn-default">Read article</div>
                            </div>
                            <div class="caption">
                                <div class="tag">18th of June 2016</div>
                                <h4>This is an example blog post</h4></div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/blog-single.html" class="item design smooth" style="position: absolute; left: 300px; top: 495px;">
                            <div class="thumb"><img alt="Your Alternative text" src="./blog_files/06.jpg">
                                <div class="btn btn-default">Read article</div>
                            </div>
                            <div class="caption">
                                <div class="tag">18th of June 2016</div>
                                <h4>This is an example blog post</h4></div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/blog-single.html" class="item fashion smooth" style="position: absolute; left: 600px; top: 495px;">
                            <div class="thumb"><img alt="Your Alternative text" src="./blog_files/07.jpg">
                                <div class="btn btn-default">Read article</div>
                            </div>
                            <div class="caption">
                                <div class="tag">18th of June 2016</div>
                                <h4>This is an example blog post</h4></div>
                        </a>
                        <a href="http://eight.themanoid.com/pages/blog-single.html" class="item books smooth" style="position: absolute; left: 900px; top: 495px;">
                            <div class="thumb"><img alt="Your Alternative text" src="./blog_files/08.jpg">
                                <div class="btn btn-default">Read article</div>
                            </div>
                            <div class="caption">
                                <div class="tag">18th of June 2016</div>
                                <h4>This is an example blog post</h4></div>
                        </a>
                    </div>
                </div>
                <div class="row mt-xl">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="pagination"><a href="http://eight.themanoid.com/pages/blog.html#" class="disabled previous ion-ios-arrow-thin-left pull-left"></a><a href="http://eight.themanoid.com/pages/blog.html" class="btn btn-default active smooth">1</a><a href="http://eight.themanoid.com/pages/blog.html" class="btn btn-default smooth">2</a><a href="http://eight.themanoid.com/pages/blog.html" class="btn btn-default smooth">3</a><a href="http://eight.themanoid.com/pages/blog.html" class="btn btn-default smooth">4</a><a href="http://eight.themanoid.com/pages/blog.html" class="btn btn-default smooth">5</a><a href="http://eight.themanoid.com/pages/blog.html#" class="next ion-ios-arrow-thin-right pull-right">  </a></div>
                    </div>
                </div>
            </div>
        </section>